<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>icon</string>
		<key>title</key>
		<string>我的订单</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon</string>
		<key>title</key>
		<string>美团钱包</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon</string>
		<key>title</key>
		<string>抵用券</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon</string>
		<key>title</key>
		<string>积分商城</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon</string>
		<key>title</key>
		<string>每日推荐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon</string>
		<key>title</key>
		<string>我的抽奖</string>
	</dict>
</array>
</plist>
